<template>
    <form class="form">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="example@example.com" aria-describedby="emailAddressHelper">
            <small id="emailAddressHelper" class="text-muted">Add your Email address</small>
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" aria-describedby="NameHelper" placeholder="Your Name">
            <small id="NameHelper" class="form-text text-muted">Add your name here</small>
        </div>
        <div class="form-group">
          <label for="message">Your Message</label>
          <textarea class="form-control" name="message" id="message" aria-describedby="MessageHelper" rows="3"></textarea>
          <small id="MessageHelper" class="form-text text-muted">Add your message here</small>

        </div>
    </form>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>

