<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <form class="form-inline mt-2 mt-md-0" action="/" method="GET">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
